.main-nosotros--img{
    width: 600px;
    height: 600px;
}

.elegirnos--img{
    width: 500px;
    height: 500px;
}


footer{
    flex-direction: row;
} 


.main-planes{
    width: 95%;
    justify-content: center;
    margin: 0 auto;

}

.main-planes-container--slider{
    justify-content: center;
}

.main-div{
    flex-direction: row;
}

.img-contacto{
    width: 800px;
    height: 500px;
}
